*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    width:100%;
    background:white;
    font-family: 'Poppins', sans-serif;

}
a{
    text-decoration: none;
}
button{
    border:none;
    outline:none;
}
@mixin  display($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items:$align;
}
.footer{
    margin-top:50px;
    width:100%;
    height:140px;
    @include display(center,center);
    background-color: #3a3a3a;
    p{
        font-size: 20px;
        color:white;
        font-weight: 400;
    }
    
}
.sp{
    .sp1{
        font-size: 30px;
            line-height: 36px;
            color:#3a3a3a;
            margin-bottom:15px;
    }
    .sp2{
        font-size: 20px;
        color: #4b4f58;
        margin:15px 0px;
    }
    table{
        width:100%;
        border-collapse: collapse;
        td, th{
            border:1px solid #ddd;
            font-size: 20px;
            padding:10px 0px;
            padding-left:20px;
            color: #4b4f58;
            font-weight: 400;
            text-align: left;
        }
    }
    b{
        font-size: 20px;
        line-height: 35px;
        font-weight: 600;
        color: #4b4f58;
        font-style: italic;
        margin:15px 0px;
        display: block;
    }
    .text{
        text-align: center;
        margin-top:50px;
    }
    h3{
            font-size: 20px;
            color:#4b4f58;
            line-height: 37px;
            margin:15px 0px;
            font-style: italic;
            font-weight: 600;
    }
}