.header{
    width:100%;
    &__logo{
        max-width:1440px;
        padding:0px 20px;
        margin:auto;
        width:100%;
        height:127px;
        @include display(center,center);
        img{
            width:117px;
            height:67px;
        }
        .logo_caption{
            text-align:center;
            padding:0px 20px;
            p{
                font-size: 35px;
                line-height: 42px;
                @include display(center,center);
                flex-direction: column;
            }
            b{
                font-size: 15px;
                line-height: 21px;
                color:#4b4f58;
                font-weight: 300;
            }
        }
    }
    &__menu{
        width:100%;
        border-bottom:2px solid #ddd;
        padding:0px 20px;
        margin:auto;
        width:100%;
        height:78px;
        @include display(center,center);
        list-style: none;
       
        li{
            position: relative;
            height:78px;
            line-height: 78px;
            border-bottom:2px solid transparent;
            transition:0.2s linear;
            a{
                height:100%;
                font-size: 20px;
                padding:0px 20px;
                color:#4b4f58;
                
                i{
                    font-size: 16px;
                }
            }
            &:hover{
                border-bottom: 2px solid #c72f2f;
            }
            &:hover > a{
                color:#0170b9;
            }
            &:hover > .dropdown{
                display:flex;
            }
            .dropdown{
                width:100%;
                position: absolute;
                left:0px;
                top: 80px;
                @include display(center,center);
                flex-direction: column;
                display:none;
                background:white;
                z-index: 999;
                box-shadow: 0px 5px 10px #ddd;
                & > a{
                    line-height: 1.5;
                    font-size: 20px;
                    padding:18px 20px;
                    color:#4b4f58;
                    width:100%;
                }
            }
        }
    }
}