.list_product{
    max-width:1440px;
    padding:0px 20px;
    margin:auto;
    margin-top:80px;
    p{
        color:#777777;
        font-size: 18px;
    }
    h3{
        color:#0170b9;
       font-size: 30px;
       margin-top:20px;
       font-weight: 400;
    }
    .products_content{
        margin-top:50px;
        width:100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        .list_detail{
            position: relative;
            img{
                width:100%;
                height:100%;
            }
            span{
                position: absolute;
                bottom:10px;
                left:0px;
                @include display(center,center);
                flex-direction: column;
                padding:15px 0px;
                width:100%;
                background: rgba($color: white, $alpha:0.8);
                font-size: 13.5px;
                color:#777777;
                font-weight: 700;
                b{
                    color:#3a3a3a;
                    font-size: 18px;
                    
                }
            }
        }
    }
}